.tl-search input[type=submit] {
    width: 100px;
    background-color: #1d70b8;
    border: none;
    cursor: pointer;
    text-indent: -5000px;
    overflow: hidden;
    height: 40px;
    width: 40px;
    background-image: url(//theme.zdassets.com/theme_assets/9268392/1bbe2499f71d809ccce802fbc65b69657876aab1.png);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    position: relative;
    left: -2px;
}