{% extends "layout-with-search.html" %}

{% block pageTitle %}
T Levels - Employer Support
{% endblock %}

{% block content %}
<main role="main"></main>
<div class="govuk-width-container ">
  <!-- Phase banner -->
  <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
      <p class="govuk-phase-banner__content">
          <a href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback-button">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                  Give feedback
              </strong>
          </a>
          <span class="govuk-phase-banner__text">
              This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback">help us to improve it</a>
          </span>
      </p>
  </div>
</div>

    
      <!-- Hero Banner -->

               <div class="govuk-width-container">
                   <div class="govuk-grid-row">
                       <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
                           <h1 class="govuk-heading-xl govuk-!-margin-top-7 govuk-!-margin-bottom-7"> <span class="tl-nowrap">T Levels - Employer Support</span></h1>
                           <label class="tl-inlineblock govuk-body govuk-!-font-size-24" for="query">
                            Employer support for industry placements
                           </label>
                         
                         <!--   <div class="tl-form-group tl-search--container tl-search--home" id="tl-search--home">
           
                               <div class="tl-search--error tl-hidden">
                                   <span class="tl-error--message"></span>
                               </div>
                               <form role="search" class="tl-search govuk-!-margin-top-2" data-search="" action="/hc/en-gb/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /><input type="search" name="query" id="query" placeholder="Search for support" aria-label="Search for support" />
           <input type="submit" name="commit" value="Search" /></form>
           
                           </div> -->

                       </div>
                   </div>
               </div>
 
       

    
    <section>
        <br>
       <!-- Top row start -->

       <section class="brand--cabinet-office brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom" id="featured-documents">
        <div class="govuk-grid-row govuk-!-margin-bottom-4 govuk-!-margin-top-8">
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-1.jpg" alt="girl using microphone in radio studio" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="about">About industry placements</a></h3>
                <p class="govuk-body">An industry placement can be part of a T Level or linked to another course.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-2.jpg" alt="young male mechanic working underneath a car" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="skill-area">Skill areas and courses</a></h3>
                <p class="govuk-body">Over the next few years, T Levels will scale up to include 24 courses, covering 11 skill areas. </p>
            </div>
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-3.jpg" alt="student and teacher discussing industry placements" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="planning">Plan industry placements</a></h3>
                <p class="govuk-body">Online events to help you understand, decide, plan and prepare to offer industry placements.</p>
            </div>
        </div>
    
        <div class="govuk-grid-row govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-4.jpg" alt="young female scientist pouring liquid into test tubes" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="during-placements">During industry placements</a></h3>
                <p class="govuk-body">How you can help students to learn while they are on a placement in your organisation.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-5.jpg" alt="student looking through paperwork at an office desk" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="workshops-and-webinars">Workshops and webinars
                </a></h3>
                <p class="govuk-body">Online events to help you understand, plan and prepare to offer industry placements.</p>
            </div>
        </div>

       </section>
    




    <div class="govuk-grid-row govuk-!-margin-top-0">
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Contact us</h2>
        <p class="govuk-body">Our opening times are 8am to 8pm Monday to Friday.</p>
        <br>

        <div class="govuk-grid-column-one-half">
          <div class="das-cards">
  
            <div class="das-card app-card">
              <div class="app-card-inner--grey">
                <h3 class="govuk-heading-m">Email</h3>
                <p class="govuk-body">Send an email to</p>
                <p class="govuk-body"><a href="mailto:helpdesk@manage-apprenticeships.service.gov.uk" class="govuk-link">helpdesk@t-levels.service.gov.uk</a>.</p>
                <p class="govuk-body govuk-!-padding-bottom-4">Alternatively you can you can <a href="contact-us" class="govuk-link">send a message</a>. During our opening times, we’ll reply within 4 hours.</p>
              </div>
            </div>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-top-0">
        <div class="govuk-grid-column-one-half">
            
            <div class="das-card app-card">
              <div class="app-card-inner--grey">
                <h3 class="govuk-heading-m">Phone</h3>
                <p class="govuk-body">Call us on 08000 150 600.</p>
                <p class="govuk-body">Text us on <a href="sms:07588690018" class="mobile-link">07588 690018</a>.</p>
                <p class="govuk-body">You cannot send us photos or videos via text.</p>
                <p class="govuk-body">Your phone company may charge you separately, standard <abbr>SMS</abbr> rates apply.</p>
                <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Find out about call charges</a>.</p>
              </div>
            </div>
  
            
        </div>
      
    </section>
    </main>
    
    
    
            </main>
          </div>


{% endblock %}
