{% extends "layout-with-search-new-name.html" %}

{% block pageTitle %}
T Levels and industry placement support for employers
{% endblock %}

{% block content %}
<main role="main">
<div class="govuk-width-container ">
  <!-- Phase banner -->
  <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
      <p class="govuk-phase-banner__content">
          <a href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback-button">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                  Give feedback
              </strong>
          </a>
          <span class="govuk-phase-banner__text">
              This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback">help us to improve it</a>
          </span>
      </p>
  </div>
</div>
</main>

<main id="main-content" role="main"> 
   <!-- Search Hero -->
   <div class="container" style="width: 320px; margin: 0 auto;">
    <div class="row-full">

<div class="tl-hero tl-hero--minimal">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

                <div id="tl-breadcrumbs--category">
                    <div class="tl-breadcrumbs">
                        <ol class="breadcrumbs">

                            <a href="start" class="govuk-link">Home</a>
</ol>

                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half tl-text--right govuk-!-margin-top-1">
                <div class="tl-form-group tl-search--container tl-search--home tl-search--home--minimal" id="tl-search--category">

                    <div class="tl-search--error tl-hidden">
                        <span class="tl-error--message"></span>
                    </div>
                    <form role="search" class="tl-search" data-search="" action="/hc/en-gb/search" accept-charset="UTF-8" method="get">
                        <input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Search for support" aria-label="Search for support">
                        <input type="hidden" name="filter_by" value="knowledge_base">
                        <input type="submit" name="commit" value="Search">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<!-- Page Content -->      
<div class="govuk-width-container">
  <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Case Study</span>
      Bupa Sandhills Court
    </h1>

    <p class="govuk-body-l">Learn about students developing catering skills in the adult care sector</p>

    <section> 
      <hr>  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <br>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
              <p class="govuk-body-s">Published</p>
              <p class="govuk-body-s">Last updated</p>
            </div>
            <div class="govuk-grid-column-two-quarters">
            <p class="govuk-body-s">17 April 2021</p>
           <p class="govuk-body-s"> 22 April 2021, 
              <a href="https://support.tlevels.gov.uk/hc/en-gb">see all updates</a></p> 
            </div>                    
          </div>             

    </section>  
    <hr> 
</div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<div class="image">
<img class="object-fit_contain" src="/public/images/catering-440x279.png" alt="catering students cooking">
</div>

<br>
  <p class="govuk-body">Sandhills Court is leading the way in BUPA, by creating industry placement opportunities in care homes for catering students. It is now spreading the word across the company about the benefits of this approach in attracting skilled young people into the industry. This 72-bed care home in Scunthorpe, Lincs, Sandhills Court provides residential and specialist dementia care for older adults. As BUPA’s current Care Home of the Year, it employs two chefs and six catering assistants who plan, prepare and serve meals to residents in its four restaurants. </p>

  <div class="govuk-inset-text">
    “What we find with students is, because we’ve got them for the 350 hours, we might only have them two days a week, but that two days a week soon builds up. They’re much more than an extra pair of hands, they’re a competent pair of hands. Because the students are there to learn and to help us, it alleviates a pressure on the sharp end staff in the kitchen.” David Elsom, Chef, Sandhills Court
  </div>

  <p class="govuk-body">One of Sandhills Court’s chefs works with North Lindsey College, to lead, manage and develop the home’s catering placements. Once a suitable student has been identified, each placement is designed so that the student learns skills for their course which are also immediately useful in the home’s kitchen. The focus is on supporting students to gain skills and experience across the breadth of responsibilities associated with a busy professional catering department and to allow them to “shine”. Students have opportunities to work on all aspects of food preparation, to help with serving meals and to learn about aspects of management such as budgeting and ordering. If a student has an interest in a specific area of catering, every effort is made to build on this. </p>

  <h2 class="govuk-heading-m">"Buddying" for skill development</h2>

  <p class="govuk-body">To gain experience across all aspects of the catering department’s work, students are “buddied up” with a different member of staff for each shift during the first few weeks of the placement.</p>
  <p class="govuk-body">Students observe others and then perform tasks under observation themselves. Once they have demonstrated proficiency, they are encouraged to work independently on delegated tasks. This means that expectations about the quality of work and procedures to be followed are clearly communicated. It helps students’ build confidence and allows staff to develop new skills in coaching and mentoring.</p>

  <p class="govuk-body">Sandhills Court offers a safe setting where catering students can develop and practise their skills. A Young Person’s Risk Assessment is carried out for all students under 18. And the seasonal peaks and unsociable hours which can impact on the viability of placements in parts of the catering and hospitality industry do not typically apply in the adult care sector.</p>
  <p class="govuk-body">The experience of providing industry placements has been overwhelmingly positive. One student has subsequently been employed by Sandhills Court as a catering assistant and others will be encouraged to apply as vacancies arise.</p>
  
  <h2 class="govuk-heading-m">Business benefits</h2>

  <p class="govuk-body">Industry placements add value in the catering department in the following ways. </p>
<ul class="govuk-list govuk-list--bullet">
  <li>Creating a pool of talent for future recruitment, for the employer and the industry</li>
  <li>Skilled and enthusiastic young people who can deliver core tasks. They can cover experienced staff who might be ill or on leave and reduce pressure during busy periods</li>
  <li>Boosting the morale and job satisfaction for existing staff, especially through mentoring and supporting young people</li>
  <li>Bringing new ideas, skills and knowledge into the workplace, that students have developed through their course, improving quality and productivity</li>
</ul>
  
<div class="govuk-inset-text">
  “The students come through, we see what they’re like, we see what their work ethic’s like, and then they go back to college because they’ve finished their time. If we have a vacancy, we often say, ‘Would you like an application form?’ I think it’s a good way for any employer to get to know before you employ them.”
</div>

<!-- <p class="govuk-body-s">Published 17 April 2021</p> -->
</div>

<div class="govuk-grid-column-one-third">

  <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

  <aside class="app-related-items" role="complementary">
    <h3 class="govuk-heading-s" id="subsection-title">
      Related content
    </h3>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a class="govuk-link" href="#">
            Catering courses
          </a>
        </li>
        <li>
          <a class="govuk-link" href="#">
            Podcast case study
          </a>
        </li>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-body-s">Collection</p>
        <li>
          <a class="govuk-link" href="#">
            Catering case studies
          </a>
        </li>
      </ul>
    </nav>
  </aside>

</div>
</div>

</div>

   



{% endblock %}
