{% extends "layout-with-search-new-name.html" %}

{% block pageTitle %}
T Levels and industry placement support for employers
{% endblock %}

{% block content %}
<main role="main"></main>
<div class="govuk-width-container ">
  <!-- Phase banner -->
  <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
      <p class="govuk-phase-banner__content">
          <a href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback-button">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                  Give feedback
              </strong>
          </a>
          <span class="govuk-phase-banner__text">
              This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback">help us to improve it</a>
          </span>
      </p>
  </div>
</div>

    
      <!-- Hero Banner -->

               <div class="govuk-width-container">
                   <div class="govuk-grid-row">
                       <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-5">
                           <h1 class="govuk-heading-xl govuk-!-margin-top-7 govuk-!-margin-bottom-2"> <span class="tl-nowrap">T Levels and industry placement support for employers</span></h1>

                         <!--  <label class="tl-inlineblock govuk-body govuk-!-font-size-24" for="query">
                            Employer support for industry placements
                           </label>
                         
                            <div class="tl-form-group tl-search--container tl-search--home" id="tl-search--home">
           
                               <div class="tl-search--error tl-hidden">
                                   <span class="tl-error--message"></span>
                               </div>
                               <form role="search" class="tl-search govuk-!-margin-top-2" data-search="" action="/hc/en-gb/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /><input type="search" name="query" id="query" placeholder="Search for support" aria-label="Search for support" />
           <input type="submit" name="commit" value="Search" /></form>
           
                           </div> -->

                       </div>
                   </div>
               </div>
 
       

    
 
        <br>
       <!-- Top row start -->

       <section class="brand--cabinet-office brand__border-color organisation__brand-border-top organisation__section-wrap organisation__margin-bottom" id="featured-documents">
        <div class="govuk-grid-row govuk-!-margin-bottom-4 govuk-!-margin-top-8">
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-2.jpg" alt="girl using microphone in radio studio" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="about">About industry placements</a></h3>
                <p class="govuk-body">Find out more about what industry placements and T Levels are, and how they could work in your business.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-3.jpg" alt="young male mechanic working underneath a car" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="planning">Plan industry placement</a></h3>
                <p class="govuk-body">Guidance to help you plan, including information about legal compliance, working with providers and paying students. </p>
            </div>
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-1.jpg" alt="student and teacher discussing industry placements" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="during-placements">During industry placements</a></h3>
                <p class="govuk-body">How to manage and mentor students while they are on a placement in your organisation, and end-of-placement reviews.</p>
            </div>
        </div>
    
        <div class="govuk-grid-row govuk-!-margin-bottom-0">
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-4.jpg" alt="young female scientist pouring liquid into test tubes" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="skill-area">Skill areas and case studies</a></h3>
                <p class="govuk-body">Discover the skill areas that industry placements cover and find out what placement students can offer.</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <img src="/public/images/ESS-img-5.jpg" alt="student looking through paperwork at an office desk" class="responsive">
                <h3 class="govuk-heading-m govuk-!-margin-top-2"><a href="workshops-and-webinars">Workshops and webinars
                </a></h3>
                <p class="govuk-body">Online events to help you understand, plan and prepare to offer industry placements.</p>
            </div>
        </div>


    
       <section>
        <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l govuk-!-margin-top-4">About T Levels</h2>
              <p><a href="https://www.tlevels.gov.uk/">T Levels</a> are a new qualification for students aged 16 to 19 who’ve finished GCSEs. They sit alongside A levels and apprenticeships to give young people the technical and practical skills needed to be an asset in the workplace.</p>
              <br>
              <p>T Levels combine classroom learning with a substantial industry placement.</p>
            </div>

            <div class="govuk-grid-column-one-half govuk-!-margin-top-4">
                <style type="text/css">
                    .responsiveRapper {
                        overflow:hidden;
                        padding-bottom:56.25%;
                        padding-top:30px;
                        height:0;
                        position:relative;
                    }
                    .responsiveRapper iframe,
                    .responsiveRapper object,
                    .responsiveRapper embed {
                        top:0;
                        left:0;
                        width:100%;
                        height:100%;
                        position:absolute;
                    }
                    </style>
                    </head>
                    <body>
                    <div class="responsiveRapper">
                        <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/nYOcO97FKqI">
                        </iframe>
                    </div>              </div>
          </div>

       </section>



<section>
    <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Contact us</h2>
        <p class="govuk-body">Have questions, or interested in offering an industry placement? Get in touch.</p>
        <br>

        <div class="govuk-grid-column-one-half govuk-!-margin-top-3">
          <div class="das-cards">
  
            <div class="das-card app-card">
              <div class="app-card-inner--grey">
                <h3 class="govuk-heading-m">Online</h3>
                <p class="govuk-body govuk-!-padding-bottom-4">Use our <a href="contact-us" class="govuk-link">contact form</a> to ask us a question or tell us if you’re ready to offer an industry placement.</p>
                <p class="govuk-body govuk-!-padding-bottom-4">You’ll usually receive a reply within 2 working days.</p>
              </div>
            </div>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <div class="govuk-grid-column-one-half govuk-!-margin-top-3">
            
            <div class="das-card app-card">
              <div class="app-card-inner--grey">
                <h3 class="govuk-heading-m">Phone</h3>
                <p class="govuk-body">Call us on 0800 150 600 (choose option 4)</p>
                <p class="govuk-body">Our opening times are 8am to 8pm, Monday to Friday.</p>
                <br>
                <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link" target="_blank">Find out about call charges</a>.</p>
              </div>
            </div>
  
            
        </div>

</section>

      

    </main>
    
    
    
            </main>
          </div>


{% endblock %}
