{% extends "layout-with-search-new-name.html" %}

{% block pageTitle %}
T Levels and industry placement support for employers
{% endblock %}

{% block content %}
<main role="main">
<div class="govuk-width-container">
  <!-- Phase banner -->
  <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
      <p class="govuk-phase-banner__content">
          <a href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback-button">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                  Give feedback
              </strong>
          </a>
          <span class="govuk-phase-banner__text">
              This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback">help us to improve it</a>
          </span>
      </p>
  </div>
</div>


    <!-- Page Content -->
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Your message has been sent
              </h1>
            <!--  <div class="govuk-panel__body">
                Your reference number<br><strong>HDJ2123F</strong>
              </div>-->
            </div> 
    
    
            <h2 class="govuk-heading-m govuk-!-margin-top-7">What happens next</h2>
    
            <p class="govuk-body">
              We’ll aim to respond to your message using your preferred contact method within 2 working days. 
            </p>
    
            <p class="govuk-body">
              <a href="start.html" class="govuk-link">T Levels and industry placement support for employers home</a>
            </p>
          </div>
        </div>
      </main>
    </div>
</main>



{% endblock %}
