{% extends "layout-with-search-new-name.html" %}

{% block pageTitle %}
T Levels and industry placement support for employers
{% endblock %}

{% block content %}
<main role="main"></main>
<div class="govuk-width-container ">
  <!-- Phase banner -->
  <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
      <p class="govuk-phase-banner__content">
          <a href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback-button">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                  Give feedback
              </strong>
          </a>
          <span class="govuk-phase-banner__text">
              This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback">help us to improve it</a>
          </span>
      </p>
  </div>
</div>


    <!-- Page Content -->
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half govuk-!-margin-top-5">
                    <a href="start" class="govuk-link">Home</a>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">
                <h1 class="govuk-heading-xl"><span class="tl-nowrap">Planning industry placements</span><h1>
                
                <p class="govuk-body-l">Have a look at the resources below for an introduction to industry placements.</p>
                
     <!-- Accordian Content -->    

     <!-- Lists -->  
     <section>

      <h2 class="govuk-heading-m">Planning and preparing</h2>
      
      <ul class="govuk-list">
          
          <li>
              <a class="govuk-link tl-category--article" href="/Making the case for industry placements in my organisation">Making the case for industry placements in my organisation</a>
          </li>
          
          <li>
              <a class="govuk-link tl-category--article" href="/Which industry placement models could work for you?">Which industry placement models could work for you?</a>
          </li>
        
        <li>
            <a class="govuk-link tl-category--article" href="/Working with the right college, school or other types of provider">Working with the right college, school or other types of provider</a>
        </li> 
        
        <li>
            <a class="govuk-link tl-category--article" href="/selecting">Selecting relevant and appropriate industry placement projects and tasks</a>
        </li>
        
        <li>
            <a class="govuk-link tl-category--article" href="/planning-the-content">Planning the content of an industry placement</a>
        </li>
        
        <li>
            <a class="govuk-link tl-category--article" href="/sharing">Sharing industry placements with other organisations</a>
        </li>
          
      </ul>
      
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-7">

      <h2 class="govuk-heading-m">Roles and responsibilities</h2>
      
      <ul class="govuk-list">
          
          <li>
              <a class="govuk-link tl-category--article" href="/supporting learners on their placement">Roles and responsibilities – supporting learners on their placement</a>
          </li>
          
          <li>
              <a class="govuk-link tl-category--article" href="/supporting learners on their placement (for small organisations)">Roles and responsibilities – supporting learners on their placement (for small organisations)</a>
          </li>
          
      </ul>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-8 govuk-!-margin-bottom-7">

      <h2 class="govuk-heading-m">Checklists</h2>
      
      <ul class="govuk-list">
          
        <li>
            <a class="govuk-link tl-category--article" href="/Are we ready to offer industry placements? Checklist and action plan">Are we ready to offer industry placements? Checklist and action plan</a>
        </li>
        
        <li>
            <a class="govuk-link tl-category--article" href="/Final preparations checklist">Final preparations checklist</a>
        </li>
          
      </ul>

      
  </section>          
            </div>

     <!-- Sign in one third column -->  
            <div class="govuk-grid-column-one-third">

                <!--  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Sign in to get news updates 
                      </button> -->
            </div>
        </div>
    </div>
</main>
</main>


{% endblock %}
