{% extends "layout-with-search-new-name.html" %}

{% block pageTitle %}
T Levels and industry placement support for employers
{% endblock %}

{% block content %}
<main role="main"></main>
<div class="govuk-width-container ">
  <!-- Phase banner -->
  <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
      <p class="govuk-phase-banner__content">
          <a href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback-button">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                  Give feedback
              </strong>
          </a>
          <span class="govuk-phase-banner__text">
              This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback">help us to improve it</a>
          </span>
      </p>
  </div>
</div>


  <!-- Search Hero -->
      <div class="govuk-width-container">
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half govuk-!-margin-top-5">
                  <a href="start" class="govuk-link">Home</a>
              </div>
          </div>
          <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">
                <h1 class="govuk-heading-xl"><span class="tl-nowrap">Skill areas and courses</span></h1>
                
                <p class="govuk-body-l">Over the next few years, T Levels will scale up to include 24 courses, covering 11 skill areas. We currently offer the following courses.</p>


                
     <!-- Accordian Content -->    

     <!-- Accordian Change of date -->  
     <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
     
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Agriculture, environment and animal care
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Agriculture">Course specification - Agriculture, environment and animal care</a>
            </li>
            <li>
              <a class="govuk-link" href="Agriculture">Course outline - Agriculture, environment and animal care</a>
            </li>
            <li>
              <a class="govuk-link" href="Agriculture">Additional considerations for Agriculture, environment and animal care</a>
            </li>
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Business and administration
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Business and administration">Course specification - Business and administration</a>
            </li>
            <li>
              <a class="govuk-link" href="Business and administration">Course outline - Business and administration</a>
            </li>
            <li>
              <a class="govuk-link" href="Business and administration">Additional considerations for Business and administration</a>
            </li>        
         </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Catering
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="catering">Catering courses</a>
            </li>
            <li>
              <a class="govuk-link" href="case-study-catering">Written case study</a>
            </li>
            <li>
              <a class="govuk-link" href="case-study-podcast">Podcast case study</a>
            </li>    
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Construction
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Construction">Course specification - Construction</a>
            </li>
            <li>
              <a class="govuk-link" href="Construction">Course outline - Construction</a>
            </li>
            <li>
              <a class="govuk-link" href="Construction">Additional considerations for Construction</a>
            </li> 
        </div>
      </div>

      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Creative and design
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Creative">Course specification - Creative and design</a>
            </li>
            <li>
              <a class="govuk-link" href="Creative">Course outline - Creative and design</a>
            </li>
            <li>
              <a class="govuk-link" href="Creative">Additional considerations for Creative and design</a>
            </li> 
        </div>
      </div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Digital and IT
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Digital">Course specification - Digital and IT</a>
            </li>
            <li>
              <a class="govuk-link" href="Digital">Course outline - Digital and IT</a>
            </li>
            <li>
              <a class="govuk-link" href="Digital">Additional considerations for Digital and IT</a>
            </li> 
        </div>
      </div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Education and childcare
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Education">Course specification - Education and childcare</a>
            </li>
            <li>
              <a class="govuk-link" href="Education">Course outline - Education and childcare</a>
            </li>
            <li>
              <a class="govuk-link" href="Education">Additional considerations for Education and childcare</a>
            </li> 
        </div>
      </div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Engineering and manufacturing
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Engineering">Course specification - Engineering and manufacturing</a>
            </li>
            <li>
              <a class="govuk-link" href="Engineering">Course outline - Engineering and manufacturing</a>
            </li>
            <li>
              <a class="govuk-link" href="Engineering">Additional considerations for Engineering and manufacturing</a>
            </li> 
        </div>
      </div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Hair and beauty
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Hair and beauty">Course specification - Hair and beauty</a>
            </li>
            <li>
              <a class="govuk-link" href="Hair and beauty">Course outline - Hair and beauty</a>
            </li>
            <li>
              <a class="govuk-link" href="Hair and beauty">Additional considerations for Hair and beauty</a>
            </li> 
        </div>
      </div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Health and science
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Health and science">Course specification - Health and science</a>
            </li>
            <li>
              <a class="govuk-link" href="Health and science">Course outline - Health and science</a>
            </li>
            <li>
              <a class="govuk-link" href="Health and science">Additional considerations for Health and science</a>
            </li> 
        </div>
      </div>


      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Legal, finance and accounting
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="Legal, finance and accounting">Course specification - Legal, finance and accounting</a>
            </li>
            <li>
              <a class="govuk-link" href="Legal, finance and accounting">Course outline - Legal, finance and accounting</a>
            </li>
            <li>
              <a class="govuk-link" href="Legal, finance and accounting">Additional considerations for Legal, finance and accounting</a>
            </li> 
        </div>
      </div>

    </div>

     <!-- Sign in one third column -->  
            <div class="govuk-grid-column-one-third">

              <!--  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Sign in to get news updates
                  </button>  -->
            </div>
        </div>
    </div>
</main>


{% endblock %}
