{% extends "layout-with-search.html" %}

{% block pageTitle %}
T Levels - Employer Support
{% endblock %}

{% block content %}
<main role="main"></main>
<div class="govuk-width-container ">
  <!-- Phase banner -->
  <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
      <p class="govuk-phase-banner__content">
          <a href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback-button">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                  Give feedback
              </strong>
          </a>
          <span class="govuk-phase-banner__text">
              This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback">help us to improve it</a>
          </span>
      </p>
  </div>
</div>


    <!-- Page Content -->
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half govuk-!-margin-top-5">
                    <a href="start" class="govuk-link">Home</a>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">
                    <h1 class="govuk-heading-xl"><span class="tl-nowrap">About industry placements</span><h1>
                    
                    <p class="govuk-body-l">Have a look at the resources below for an introduction to industry placements.</p>

                    <section>
                    
            
                        <h2 class="govuk-heading-m">Helpful resources</h2>
                        
                        <ul class="govuk-list">
                            
                            <li>
                                <a class="govuk-link tl-category--article" href="/What are industry placements?">What are industry placements?</a>
                            </li>
                            
                            <li>
                                <a class="govuk-link tl-category--article" href="/Why offer industry placements?">Why offer industry placements?</a>
                            </li>
                            
                            <li>
                                <a class="govuk-link tl-category--article" href="/Myth busting – questions and answers">Myth busting – questions and answers</a>
                            </li>
                            
                            <li>
                                <a class="govuk-link tl-category--article" href="/How sole traders">How sole traders, micro businesses or freelancers can get involved in industry placements</a>
                            </li>
                                     
                            <li>
                              <a class="govuk-link tl-category--article" href="/Exploring benefits and costs">Exploring benefits and costs</a>
                          </li>
                          
                          <li>
                              <a class="govuk-link tl-category--article" href="/Which T Levels could be relevant to my organisation?">Which T Levels could be relevant to my organisation?</a>
                          </li> 
                            
                        </ul>

        </div>

   </div>
   </div>
</main>


{% endblock %}
