{% extends "layout-with-search.html" %}

{% block pageTitle %}
T Levels - Employer Support
{% endblock %}

{% block content %}
<main role="main"></main>
<div class="govuk-width-container ">
  <!-- Phase banner -->
  <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
      <p class="govuk-phase-banner__content">
          <a href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback-button">
              <strong class="govuk-tag govuk-phase-banner__content__tag">
                  Give feedback
              </strong>
          </a>
          <span class="govuk-phase-banner__text">
              This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/VXHHIQ/" id="tl-header--feedback">help us to improve it</a>
          </span>
      </p>
  </div>
</div>


    <!-- Page Content -->
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half govuk-!-margin-top-5">
                    <a href="start" class="govuk-link">Home</a>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds govuk-!-margin-top-9">
                <h1 class="govuk-heading-xl"><span class="tl-nowrap">During industry placements</span><h1>
                
                <p class="govuk-body-l">How you can help students to learn while they are on a placement in your organisation.</p>
                
     <!-- Accordian Content -->    

     <!-- Accordian Change of date -->  
     <section>
                    
            
      <h2 class="govuk-heading-m">Helpful resources</h2>
      
      <ul class="govuk-list">
          
          <li>
              <a class="govuk-link tl-category--article" href="/#">Legal compliance</a>
          </li>
          
          <li>
              <a class="govuk-link tl-category--article" href="/#">Making payments to industry placement students</a>
          </li>
          
          <li>
              <a class="govuk-link tl-category--article" href="/#">Selecting students for industry placements</a>
          </li>
          
          <li>
              <a class="govuk-link tl-category--article" href="/#">Day 1 (Induction) checklist</a>
          </li>
                   
          <li>
            <a class="govuk-link tl-category--article" href="/#">Helping students learn</a>
        </li>
        
        <li>
            <a class="govuk-link tl-category--article" href="/#">Effective mentoring for industry placement students</a>
        </li> 
        
        <li>
            <a class="govuk-link tl-category--article" href="/#">Managing young people who are new to the workplace</a>
        </li>
        
        <li>
            <a class="govuk-link tl-category--article" href="/#">Supporting industry placement students with Special Educational Needs and Disabilities</a>
        </li>
        
        <li>
            <a class="govuk-link tl-category--article" href="/#">End-of-placement review with the learner</a>
        </li>
        
        <li>
            <a class="govuk-link tl-category--article" href="/#">End-of-placement review with the provider</a>
        </li>
          
      </ul>
      
      


      
  </section>          
            </div>

     <!-- Sign in one third column -->  
            <div class="govuk-grid-column-one-third">

                <!--  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Sign in to get news updates 
                      </button> -->
            </div>
        </div>
    </div>
</main>
</main>


{% endblock %}
