<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:description" content="The list of Home Office approved forensic pathologists and their practice areas.">
<meta property="og:title" content="Home Office register of forensic pathologists">
<meta property="og:url" content="https://www.gov.uk/government/publications/home-office-register-of-forensic-pathologists-february-2013">
<meta property="og:type" content="article">
<meta property="og:site_name" content="GOV.UK">
<meta name="twitter:card" content="summary">
<meta name="description" content="The list of Home Office approved forensic pathologists and their practice areas.">
<meta name="govuk:taxon-slugs" content="crime-prevention">
<meta name="govuk:taxon-slug" content="crime-prevention">
<meta name="govuk:taxon-ids" content="7f4eaf37-60f8-4d8c-a968-7829098e05ff">
<meta name="govuk:taxon-id" content="7f4eaf37-60f8-4d8c-a968-7829098e05ff">
<meta name="govuk:themes" content="crime-justice-and-law">
<meta name="govuk:analytics:organisations" content="&lt;D16&gt;">
<meta name="govuk:content-has-history" content="true">
<meta name="govuk:content-id" content="5dc13e9b-7631-11e4-a3cb-005056011aef">
<meta name="govuk:schema-name" content="publication">
<meta name="govuk:publishing-application" content="whitehall">
<meta name="govuk:format" content="guidance">
<meta name="csrf-token" content="4aOz9Y8q0PINxvapA02qkoSqnk9uroP9JxdzPhIt+UILhpEgyJNOnAqHIy/KdRdWj8AzqFh8IzJRsqXS7p4c2A==">
<meta name="csrf-param" content="authenticity_token">
    <meta charset="utf-8">
    <title lang="en">
      Home Office register of forensic pathologists - GOV.UK
  </title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/govuk-template-3e3f4a131aca72f9b2e458dfd318f65420aef6ada35539243aac38ebbbbcc64f.css">
<!--<![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/govuk-template-ie8-e4fff1a2ce0e93e66e96db6eedae992a3859b1e608aa46bd3e42ac30f61c58ac.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://www.gov.uk/assets/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css">

    <link rel="stylesheet" media="all" href="https://www.gov.uk/assets/static/fonts-c57ab80a95f2b1764162611b3c98a4c098b356f8e30baf1e50cd63edea464c01.css">
    <!--[if lt IE 9]><script src="https://www.gov.uk/assets/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js"></script><![endif]-->



    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/core-layout-804ca2beae94a714f3ac14b183c5e4b14e881e78d0afb13d1e5a627276d6f0e6.css">
<!--[if lte IE 8]><link rel="stylesheet" media="screen" href="https://www.gov.uk/assets/static/core-layout-ie8-7eff654a88e7b8cacb98b9fbe557311641edd39715d36ea412ccd77695a77bde.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://www.gov.uk/assets/static/core-layout-print-75b7a1f59d04944e809a8badafce5e00554e3d54cb789f013e2b96f938d130de.css">



  
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>


    <header role="banner" id="global-header" class=" with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
            <button class="search-toggle js-header-toggle" data-search-toggle-for="search">Show or hide search</button>
  <form id="search" class="site-search govuk-clearfix" action="/search" method="get" role="search" aria-label="Site-wide">
    <div class="content govuk-clearfix">
      
<div class="gem-c-search  govuk-!-margin-bottom-0 gem-c-search--no-border gem-c-search--on-white" data-module="gem-toggle-input-class-on-focus">
  <label for="site-search-text" class="gem-c-search__label">
    Search for support
  </label>
  <div class="gem-c-search__item-wrapper">
    <input class="gem-c-search__item gem-c-search__input js-class-toggle" id="site-search-text" name="q" title="Search" type="search" value="">
    <div class="gem-c-search__item gem-c-search__submit-wrapper">
      <button class="gem-c-search__submit" type="submit">
        Search employer support
      </button>
    </div>
  </div>
</div>

    </div>
  </form>

        </div>
        

</div>
    </header>

</body>
</html><!-- Thanks Martha -->